@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../image/main_bg_light.jpg);
}
aside{
    background-color: white;
    border-right: solid 1px #ee7315;
}

.center , .center-column , .top , .right , .bottom , .left{
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid 1px black;*/
    text-align: center;
}

.center-column{
    flex-direction: column;
}

.top { align-items: flex-start;}
.right { justify-content: flex-end;}
.bottom { align-items: flex-end;}
.left { justify-content: flex-start;}

header{
    border-bottom: 2px solid #ee7315;
    background-color: white;
}

#grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:20px;
  margin-top: 2em;
}

.box figure{
  margin-bottom: 2em;
}

.box:hover .icon{
  color: #ee7315;
}
.box:hover a{
  color: #ee7315;
}
.box .checkbox{
  margin-top: 1em;
}
.box:hover .checkbox{
  color: #ee7315;
  margin-top: 1em;
}
.box:hover img{
-webkit-animation: heartbeat 1.5s ease-in-out both;
        animation: heartbeat 1.5s ease-in-out both;
}

.box a{
  color:#000000;
}

.button.is-primary {
    background-color: white;
    border-color: #707070 !important;
    border-radius: 15px 50px 30px 5px;
    color: #ee7315;
}

.button.is-primary:active, .button.is-primary.is-active{
  background-color: #ee7315;
}
.button.is-primary:focus:not(:active), .button.is-primary.is-focused:not(:active){
  box-shadow: 0 0 0 0.125em rgba(238, 115, 21, 0.25);
}
.button.is-primary:focus, .button.is-primary.is-focused{
  background-color: #ee7315;
}

.select:not(.is-multiple):not(.is-loading)::after{
  border-color: #ee7315;
}
.select select:focus, .select select.is-focused, .select select:active, .select select.is-active{
  border-color: #ee7315;
  box-shadow: 0 0 0 0.125em rgba(238, 115, 21, 0.25);
}

a{
  text-decoration: none !important;
}

.center-content{
    
    z-index: 0;
}

.company-title{
    text-align: center;
}

.menu-list li a{
    border-bottom: 1px solid #707070;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ee7315;
}

.info-title{
    border-bottom: solid 1px #ee7315;
}



.services-border{
    border-left: solid 2px #ee7315;
    margin-bottom: 2em;
    margin-top: 2em;
}

ul:first-child a{
    border-top: 1px solid #707070;
}

.contact-last{
    margin-bottom: 2em !important;
}

.margin-button{
    margin-bottom: 1em;
}

.big-logo{
    margin-top: 5em;
    margin-bottom: 5em;
}
.acceuil{
    display: none;
}

.grid-container{
    display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 60px;
}

.img-description{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ee7315;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description{
    opacity: 1;
    visibility: visible;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.card{
    margin: 2em;
    display: none;
    transform: scaleX(0);
    transform-origin: right;
}

.services{
    display:none;
    transform: scaleX(0);
    transform-origin: right;
}

.show-services{
    display:block !important;
    animation: show-services 0.6s 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.show-page{
    display:block;
    animation: slide-page 0.5s ease-in-out forwards;
}

@keyframes slide-page{
    form{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes show-services{
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
      }
      100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
      }
}

@keyframes fade-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: #ee7315;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #ee7315;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  


  
.msg{
    width: 25%;
    margin: 70px auto;
    display: none;
    z-index: 99;
}

.show-msg{
    display: block;
    -webkit-animation: slit-in-horizontal 0.45s ease-out both;
	        animation: slit-in-horizontal 0.45s ease-out both;
}

.offre-ext{
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
}

.icon :hover{
    color: #ee7315;
}

.box a{

    display: flex;
    
    text-align: center;
    color: #ee7315;
}

.offre{
  border-radius: 200px 50px 50px 50px;
  border: solid 1px #ee7315;
}

.offre h2{
  color: #ee7315;
}
.service{
  border-radius: 100px 50px 50px 50px;
  border: solid 1px #DAB785;
}

.service h2{
  color :#DAB785;
}
.event {
  border-radius: 0px 50px 50px 50px;
  border: solid 1px #04395E;
}

.event h2{
  color: #04395E;
}

.box-img .image{
  margin: 1em 2em;
}

.icons-cont i{
  font-size: 28px;
  color: #707070;
}
.icons-cont span{
  margin: 2em 2em;
}
section .box{
  margin: 2em auto;
}

.show-ext{
  display: block !important;
}


.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #fff none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #ee7315;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #ee7315; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar input:active{
    border:1px solid #ee7315 !important;
}
.srch_bar input:focus{
    border:1px solid #ee7315 !important;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 5px 50px 50px 50px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 15px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
  background-color: white;
}

 .sent_msg p {
  background: #ee7315 none repeat scroll 0 0;
  border-radius: 50px 5px 50px 50px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #ee7315 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { 
    padding: 0 0 0 0;
    margin-top:2em;
    background-color: #fff;
}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

@-webkit-keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
            transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
            transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
            transform: translateZ(0) rotateX(0);
  }
}
@keyframes slit-in-horizontal {
  0% {
    -webkit-transform: translateZ(-800px) rotateX(90deg);
            transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateX(87deg);
            transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateX(0);
            transform: translateZ(0) rotateX(0);
  }
}